.content {
    display: flex;
    flex-direction: row;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-start;
    gap: 16px;
}

.input_button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px
}
.input_button span{
    color: #FFFFFF;
}

#image {
    width: 48px;
    height: 48px;
}

body {
    background-color: #051d3b;

}

.cabecalho {
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    color: white;
}

#busque {
    width: 752px;
    ;
    height: 65px;
    left: 312px;
    border-radius: 8px;
    gap: 8px;
    background-color: #ffffff29;
    color: #ffffff;

}
.direita{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex-direction: column;
}
.direita div{
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.mac_buttons{

    left: 356px;
    position: absolute;
    top: 190px;

}
.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
textarea {
    background-color: black;
    color: white;
    border: 32px solid #6BD1FF;
    Width: 656px;
    height: 302px;
    left: 344px;
    border-radius: 8px;
    padding-top: 52px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
    gap: 10px;
    resize: none;
    font-size: 14px;
    line-height: 18.46px;
    font-weight: 400px;
    align-items: flex-start;

}


select {
    width: 272px;
    height: 56px;
    top: 388px;
    left: 1136px;
    border-radius: 4px;
    background-color: #FFFFFF29;
    color: #ffffff;

}

.inputcolor {
    background-color: #051d3b;
    border-color: white;
    border-radius: 4px;
    width: 272px;
    height: 56px;
    left: 1136px;
}

.salvar {
    width: 272px;
    height: 56px;
    background-color: #5081fb;
    color:#FFFFFF ;
    border-radius: 4px;
}

.vizualizar {
    width: 752px;
    height: 56px;
    top: 526px;
    left: 344px;
    background-color: #5081FB14;
    color: #FFFFFF;
    border-radius: 8px;
    
}

#nome {
    width: 272px;
    height: 56px;
    border-radius: 8px;
    gap: 8px;
    color: #ffffff;
    background-color: #FFFFFF29;
}

.d {
    width: 272px;
    height: 80px;
    border-radius: 8px;
    gap: 8px;
    color: #ffffff;
    background-color: #FFFFFF29;
}